body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
    }   
main{
    width: 100%;
    height: 100%;
}   

.logo{
    color: #fff;
    font-size: 39px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 2s;
    -o-animation: comming 2s;
    animation: comming 2s;
}

.menu{
    float: left;
    font-family: 'Square Peg', cursive;
        
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ;
    -o-animation: topshift 0.4s;
    animation: topshift 0.4; 
   
}

.main{
    width: 100%;
    height:100%;
    background: url(..//img/business-transparent-professional-girl-image-1199507.png)90% 100%/auto 75% no-repeat , url(..//img/fons.jpg) center/cover no-repeat;
    }
.title__container{
    float: left;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
.title__container h1{
    font-size: 55px;
    font-weight:600;
        
}
.title__container h4{
    margin-top: 40px;
    font-size: 28px;
    color: #79818d;
}
.title__container svg{
    color: orange
}

 .title__container input{
    height: 40px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px; 
 }  

.menu li a:{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}  
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: orange;
    
}    
.menu li a:active{
    transform: scale(1,1);
    font-size: 20px
}

.title__container input{
    transition: all 0.2s;
}
.title__container input:hover{
    background: orange;
    color: white;
}

@keyframes comming{
    from{ 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from{ 
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}

@keyframes titlemove{
    from{ 
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 35px;
    }
}


@media(max-width: 991px){
     .title__container, .title__container h4, .title__container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    
    .white-btn:visited{
    color: white;
        }
    
    .main{
        position: relative;
    }
    
    .main::after{
        content:"";
        bottom:0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
        z-index: 1;
        
        
    }
}

.block1{
    width: 100%;
    height: 100%;  
}
.item_skills1 h2{
    font-size: 28px;
    color: #000;
    font-weight: bold; 
    text-align: center;
    padding: 50px 0px 0px 0px;
} 

.item_skills1 h2:hover{
    color: orange;
    font-size: 30px;
    
}

.item_skills1 img{
    margin: 70px 860px 20px 860px
}

.item_skills1 p{
    font-size: 28px;
    text-align: center;
    
    color: #000;
    font-family: 'Square Peg', cursive;
}
.item_skills1 input{
    height: 40px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 5px;
    color: #000;
    font-size: 13px;
    padding: 0px 16px;
    background: none;
    
}
.item_skills1 input{
    transition: all 0.2s;
}
.item_skills1 input:hover{
    background: orange;
    color: white;
}

.block2{
    width: 100%;
    height:100%;
    background: url(..//img/fons1.jpg) center/cover no-repeat
}
.item_skills2 h2{
    font-size: 28px;
    color: #fff;
    font-weight: bold; 
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
    padding: 50px
 }  

.item_skills2 h2:hover{
    color: orange;
    font-size: 30px
}    
.item_skills2 li{
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    float: left;
    line-height: 60px;
    color: orange;
    font-size: 22px;
    text-transform: uppercase
}
.item_skills2 svg{
    color: white;
    width:35px;
    height:35px;
}


 

.item_skills3 h2{
    font-size: 28px;
    color: #000;
    font-weight: bold; 
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
    padding: 50px
    
}
.item_skills3 h2:hover{
    color: orange;
    font-size: 30px
} 

  
.item_skills3 h4{
    font-size: 18px;
    color: orange;
    font-weight: bold; 
    
}

.item_skills3 span, p{
    font-size: 18px; 
}

.item_skills3 img{
    width: 50%;
    height:50%;
}

.item_skills3 img:hover{
    width: 90%;
    height:90%;
}


.item_skills4 h2{
    font-size: 28px;
    color: #000;
    font-weight: bold; 
    text-align: center;
    padding: 50px       
}

.item_skills4 h2:hover{
    color: orange;
    font-size: 30px
} 
.item_skills4 h4{
    font-size: 18px;
    color: orange;
    font-weight: bold; 
    padding: 10px;
    text-transform: uppercase;
    padding: 10px;
    
}
.item_skills4 select{
    font-size: 18px;
    color: #344051;
    font-weight: normal;
    text-align: left;
    margin-left: 0px;
    width: 1220px;
    height: 40px;
}


.block5{
    width: 100%;
    height:100%;
    background: url(..//img/fons2.jpg) center/cover no-repeat;
}
.item_skills5 h2{
    font-size: 28px;
    color: black;
    font-weight: bold; 
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
    padding: 50px
}
.item_skills5 h2:hover{
    color: orange;
    font-size: 30px
} 
.item_skills5 .text{
    float: left;
    line-height: 60px;
    color: orange;
    font-weight: bold;
    font-size: 19px;
    text-transform: uppercase;
    padding: 35px
}

 
.item_skills5 svg{
    color: black;
    width:35px;
    height:35px;
    
}



.item_skills6 h2{
    font-size: 28px;
    color: black;
    font-weight: bold; 
    text-align: center;
    margin: 0px;
    text-transform: none;
    padding: 10px; 0px, 0px, 0px
}
.item_skills6 h2:hover{
    color: orange;
    font-size: 30px
} 
.item_skills6 img{
    width: 10%;
    height: 28%;
    border-radius: 50%;
    overflow: hidden;
    
 }
.item_skills6 p{
    font-size: 18px;
    color: black;
    font-weight: normal;
    text-align: center;
    font-family: 'Square Peg', cursive;
    
}
.item_skills6 span{
    font-size: 18px;
    color: black;
    font-weight: bold;
}






.block7{
    background: url(..//img/fons3.jpg) center/cover no-repeat;
    
}
.item_skills7 h2{
    font-size: 28px;
    color: #fff;
    font-weight: bold; 
    text-align: center;
    text-transform: none;
    padding: 50px;
 }
.item_skills7 h2:hover{
    color: orange;
    font-size: 30px
} 
.item_skills7 p{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    
}
.item_skills7 .text{
    line-height: 60px;
    color: orange;
    font-weight: bold;
    float: center;
    font-size: 19px;
    text-transform: none;
    text-align: center;
       
}
.item_skills7 h3{
    font-size: 22px;
    color: black;
    font-weight: bold;
}
.item_skills7 input{
    font-size: 13px;
    text-align: left;
    float: center;
}
.item_skills7 label{
    width: 0px;
    height: 0px;
}
.item_skills7 input{
    transition: all 0.2s;
}
.item_skills7 input:hover{
    background: orange;
    color: white;
}
.item_skills7 textarea{
    font-size: 13px;
    transition: all 0.2s;
 }   
.item_skills7 textarea:hover{
    background: orange;
    color: white;
}
.item_skills7 click{
    
} 
footer{
    width: 100%;
    height: 54px; 
    background: #344051;
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding-top:  15px;
    font-family: 'Square Peg', cursive;
    
}
   
    
 